table {
  border-collapse: collapse;
}
tr,
th,
td {
  border: 2px solid rgb(185, 53, 53);
  text-align: center;
}
th {
  background-color: red;
  color: white;
}
#hihi {
  color: red;
}
#ni {
  text-align: left;
}
