table {
  border-collapse: collapse;
}
tr,
th,
td {
  border: 2px solid red;
}
th,
h2 {
  color: red;
}
th {
  background-color: brown;
}
#ca {
  color: white;
  background-color: aqua;
  text-align: right;
}
