h1 {
    text-align: center;
    background: blue;
    color: white;
}
.container {
    display: flex;
    height: 100vh;
}
.menu {
    flex: 2;
}
.content {
    flex: 3;
    border: 2px solid black;
}
.content h2 {
    text-align: center;
}
.content h3 {
    padding-left: 20px;
}
.content h4 {
    padding-left: 20px;
}
.content p {
    text-align: center;
}
body{
    width: 70%;
    margin:auto;
    border: 2px solid blue;
}